{:update_id 426300777,
 :my_chat_member {:chat {:id -1001000000000,
                         :title "Test Create",
                         :type "supergroup"},
                  :from {:id 280000000,
                         :is_bot false,
                         :first_name "User",
                         :last_name "Name",
                         :username "username",
                         :language_code "en"},
                  :date 1616614061,
                  :old_chat_member {:user {:id 1400000000,
                                           :is_bot true,
                                           :first_name "My Bot",
                                           :username "my_bot"},
                                    :status "left"},
                  :new_chat_member {:user {:id 1400000000,
                                           :is_bot true,
                                           :first_name "My Bot",
                                           :username "my_bot"},
                                    :status "member"}}}