{:up   ["CREATE TABLE chat (
           id bigint NOT NULL PRIMARY KEY,
           created_at timestamptz,
           updated_at timestamptz,
           type chat_type NOT NULL,
           data jsonb NOT NULL
         );"]
 :down ["DROP TABLE chat;"]}