{:up   ["CREATE TABLE IF NOT EXISTS chat (
           id BIGINT NOT NULL PRIMARY KEY,
           created_at TIMESTAMPTZ,
           updated_at TIMESTAMPTZ,
           type CHAT_TYPE NOT NULL,
           data JSONB NOT NULL
         );"]
 :down ["DROP TABLE IF EXISTS chat;"]}